/* line 1, ../sass/navbar.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
/* line 10, ../sass/navbar.scss */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

/* line 14, ../sass/navbar.scss */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 18, ../sass/navbar.scss */
.navbar-wrapper .navbar .container {
  width: auto;
}
